In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import matplotlib.font_manager as fm
import matplotlib
import pickle
import timeit
import h5py
import math
import os
import json
import seaborn as sns
%matplotlib inline
import datetime
from os import listdir
from os.path import isfile, join

In [7]:
df = pd.read_csv('/Users/jakek/Documents/Computer Science/Semester 3/Data Analytics/updated_for_modelling.csv', low_memory=False)

In [8]:
df1 = pd.read_csv('/Users/jakek/Documents/Computer Science/Semester 3/Data Analytics/weather_csv_hourly.csv', low_memory=False)

In [12]:
df1.head()

              DateTime           Summary  Temp  Rain  Wind_Speed
0  2012-11-06 00:00:00     Partly Cloudy     2     0          16
1  2012-11-06 01:00:00     Partly Cloudy     3     0          22
2  2012-11-06 02:00:00  Scattered Clouds     3     0          20
3  2012-11-06 03:00:00     Mostly Cloudy     4     0          25
4  2012-11-06 04:00:00     Mostly Cloudy     5     0          22

In [16]:
df1.drop('DateTime', axis=1, inplace=True)

In [14]:
df1['Date'], df1['Time'] = df1['DateTime'].str.split(' ', 1).str

In [28]:
df.head()

,VehicleJourneyID,TimeFrame,StopID,Timestamp,AtStop,Avg,TimeToNextStop,Avg2,Day,Hour
0,4608.0,2013-01-02,44,1.357123e+15,0.0,73.081818,60.0,68.454545,Wednesday,10
1,4608.0,2013-01-02,45,1.357123e+15,0.0,79.920139,20.0,80.500000,Wednesday,10
2,4608.0,2013-01-02,46,1.357123e+15,1.0,62.323077,81.0,76.884615,Wednesday,10
3,4608.0,2013-01-02,47,1.357123e+15,0.0,65.931990,19.0,45.730769,Wednesday,10
4,4608.0,2013-01-02,48,1.357123e+15,0.0,82.864063,100.0,92.440000,Wednesday,10

In [17]:
df1['Time'], x = df1['Time'].str.split(':', 1).str

In [27]:
df1.head()

            Summary  Temp  Rain  Wind_Speed        Date  Time
0     Partly Cloudy     2     0          16  2012-11-06     0
1     Partly Cloudy     3     0          22  2012-11-06     1
2  Scattered Clouds     3     0          20  2012-11-06     2
3     Mostly Cloudy     4     0          25  2012-11-06     3
4     Mostly Cloudy     5     0          22  2012-11-06     4

In [26]:
df1['Time'] = df1.Time.astype(int)

In [29]:
df1 = df1.rename(columns={'Date': 'TimeFrame', 'Time': 'Hour'})

In [30]:
df1.head()

            Summary  Temp  Rain  Wind_Speed   TimeFrame  Hour
0     Partly Cloudy     2     0          16  2012-11-06     0
1     Partly Cloudy     3     0          22  2012-11-06     1
2  Scattered Clouds     3     0          20  2012-11-06     2
3     Mostly Cloudy     4     0          25  2012-11-06     3
4     Mostly Cloudy     5     0          22  2012-11-06     4

In [31]:
df.head()

,VehicleJourneyID,TimeFrame,StopID,Timestamp,AtStop,Avg,TimeToNextStop,Avg2,Day,Hour
0,4608.0,2013-01-02,44,1.357123e+15,0.0,73.081818,60.0,68.454545,Wednesday,10
1,4608.0,2013-01-02,45,1.357123e+15,0.0,79.920139,20.0,80.500000,Wednesday,10
2,4608.0,2013-01-02,46,1.357123e+15,1.0,62.323077,81.0,76.884615,Wednesday,10
3,4608.0,2013-01-02,47,1.357123e+15,0.0,65.931990,19.0,45.730769,Wednesday,10
4,4608.0,2013-01-02,48,1.357123e+15,0.0,82.864063,100.0,92.440000,Wednesday,10

In [33]:
df2 = pd.merge(df,df1, how='left', on = ['TimeFrame','Hour'])

In [34]:
df2.head()

,VehicleJourneyID,TimeFrame,StopID,Timestamp,AtStop,Avg,TimeToNextStop,Avg2,Day,Hour,Summary,Temp,Rain,Wind_Speed
0,4608.0,2013-01-02,44,1.357123e+15,0.0,73.081818,60.0,68.454545,Wednesday,10,Light Rain,10.0,1.0,31.0
1,4608.0,2013-01-02,45,1.357123e+15,0.0,79.920139,20.0,80.500000,Wednesday,10,Light Rain,10.0,1.0,31.0
2,4608.0,2013-01-02,46,1.357123e+15,1.0,62.323077,81.0,76.884615,Wednesday,10,Light Rain,10.0,1.0,31.0
3,4608.0,2013-01-02,47,1.357123e+15,0.0,65.931990,19.0,45.730769,Wednesday,10,Light Rain,10.0,1.0,31.0
4,4608.0,2013-01-02,48,1.357123e+15,0.0,82.864063,100.0,92.440000,Wednesday,10,Light Rain,10.0,1.0,31.0

In [36]:
df2['Hour'].unique()

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,  9,  8,  7], dtype=int64)

In [37]:
df2.to_csv("model3.csv")