In [27]:
import json

In [28]:
with open('stops in order updated.json') as data_file:
    dicty = json.load(data_file)
with open('new lats and longs.json') as data_file:
    locations = json.load(data_file)

In [29]:
alls = []
for i in dicty:
    for j in dicty[i]:
        for k in range(len(dicty[i][j])):
            if dicty[i][j][k] not in locations:
                print(i, j, dicty[i][j][k])
                alls += [dicty[i][j][k]]

32X 0 6087
068 1 3415
29A 1 7551
29A 1 4800
29A 1 5157
29A 1 5154
29A 1 4804
29A 0 5160
29A 0 5155
29A 0 4806
29A 0 5156
29A 0 7552
77A 1 7550
007 1 3238
007 1 3239
007 1 3240
161 0 2983
185 1 4417
185 1 4419
185 1 4420
185 1 4421
185 1 2113
185 0 4417
185 0 4419
185 0 4420
185 0 4421
185 0 2113
061 1 2983
061 0 2983
063 1 3290
063 1 5168
063 1 3292
063 1 3293
063 1 3294
063 1 3295
063 1 3296
063 1 3297
063 1 3298
063 1 3260
063 1 3261
063 0 3265
063 0 3266
063 0 3346
063 0 3267
063 0 3268
063 0 3269
063 0 3270
063 0 3271
063 0 3272
063 0 3273
063 0 3274
063 0 3275
015 1 7516
65B 1 7550
747 1 7465
747 1 7466
747 1 7467
184 0 4656

In [30]:
alls

['6087',
 '3415',
 '7551',
 '4800',
 '5157',
 '5154',
 '4804',
 '5160',
 '5155',
 '4806',
 '5156',
 '7552',
 '7550',
 '3238',
 '3239',
 '3240',
 '2983',
 '4417',
 '4419',
 '4420',
 '4421',
 '2113',
 '4417',
 '4419',
 '4420',
 '4421',
 '2113',
 '2983',
 '2983',
 '3290',
 '5168',
 '3292',
 '3293',
 '3294',
 '3295',
 '3296',
 '3297',
 '3298',
 '3260',
 '3261',
 '3265',
 '3266',
 '3346',
 '3267',
 '3268',
 '3269',
 '3270',
 '3271',
 '3272',
 '3273',
 '3274',
 '3275',
 '7516',
 '7550',
 '7465',
 '7466',
 '7467',
 '4656']

In [31]:
import requests
url = 'https://data.dublinked.ie/cgi-bin/rtpi/busstopinformation?stopid='+"4656"+'&format=json'
response = requests.get(url)
result = response.json()
result

{'errorcode': '0',
 'errormessage': '',
 'numberofresults': 1,
 'results': [{'displaystopid': '4656',
   'fullname': 'Newtownmountkennedy',
   'fullnamelocalized': '',
   'lastupdated': '24/07/2017 10:33:48',
   'latitude': '53.07948694',
   'longitude': '-6.100446944',
   'operators': [{'name': 'bac', 'routes': ['184']}],
   'shortname': 'Newtownmountkennedy',
   'shortnamelocalized': 'Baile an ChinnÃ©idig',
   'stopid': '4656'}],
 'timestamp': '09/08/2017 12:14:05'}

In [32]:
for i in alls:
    print(i)
    url = 'https://data.dublinked.ie/cgi-bin/rtpi/busstopinformation?stopid='+i+'&format=json'
    response = requests.get(url)
    result = response.json()
    if len(result['results']) > 0:
        locations[i] = {}
        locations[i]['name'] = result['results'][0]['fullname']
        locations[i]['Lat'] = result['results'][0]['latitude']
        locations[i]['Lon'] = result['results'][0]['longitude']
    else:
        print("no luck")

6087
3415
7551
4800
5157
5154
4804
5160
5155
4806
5156
7552
7550
3238
3239
3240
2983
4417
4419
4420
4421
2113
4417
4419
4420
4421
2113
2983
2983
3290
5168
3292
3293
3294
3295
3296
3297
3298
3260
3261
3265
3266
3346
3267
3268
3269
3270
3271
3272
3273
3274
3275
7516
7550
7465
no luck
7466
no luck
7467
no luck
4656

In [24]:
for i in ['7466','7465','7467']:
    alls = alls.remove(i)

AttributeError: 'NoneType' object has no attribute 'remove'

In [33]:
alls

['6087',
 '3415',
 '7551',
 '4800',
 '5157',
 '5154',
 '4804',
 '5160',
 '5155',
 '4806',
 '5156',
 '7552',
 '7550',
 '3238',
 '3239',
 '3240',
 '2983',
 '4417',
 '4419',
 '4420',
 '4421',
 '2113',
 '4417',
 '4419',
 '4420',
 '4421',
 '2113',
 '2983',
 '2983',
 '3290',
 '5168',
 '3292',
 '3293',
 '3294',
 '3295',
 '3296',
 '3297',
 '3298',
 '3260',
 '3261',
 '3265',
 '3266',
 '3346',
 '3267',
 '3268',
 '3269',
 '3270',
 '3271',
 '3272',
 '3273',
 '3274',
 '3275',
 '7516',
 '7550',
 '7465',
 '7466',
 '7467',
 '4656']

In [35]:
with open('new lats and longs.json', 'w') as fp:
    json.dump(locations, fp)